# Compiled class file
*.class

# Log file
*.log

# Directory for compiled Java source files
target/

# Eclipse project files
.project
.classpath
.settings/

# IntelliJ IDEA project files
.idea/

# NetBeans project files
nbproject/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Files created by Maven or Gradle
*.war
*.jar
*.ear
